@import 'variables';
@import 'shared';

// 480
@media only screen and (min-width: 480px) {
  .first-screen {
    &__text {
      margin: 0 auto;
      padding: 30px 0;
      max-width: 450px;
    }
  }
  ///////////////
  .services {
    &__row {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        max-width: 580px;
      }
    }
  }
}

///768
@media only screen and (min-width: 768px) {
  .header {
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__adress {
      display: block;
      text-align: left;
    }

    &__logo {
      flex-grow: 1;
    }
    &__work-time {
      display: block;
      text-align: right;
    }

    &__menu {
      &--have-menu {
        &::after {
          content: '';
          right: 40%;
        }
      }
    }
  }

  .first-screen {
    &__body {
      max-width: 616px;
      min-height: 600px;
    }

    &__text {
      padding: 30px 0;
      max-width: 450px;
    }

    &__btn {
      a:hover {
        color: #4b4b4b;
      }
    }
  }

  .video {
    &__text,
    &__player {
      margin: 33px auto;
    }
    &__text,
    &__player {
      max-width: 535px;
    }

    &__player {
      width: 565px;
    }
  }

  .subscribe {
    &__body {
      max-width: 851px;
      margin: 0 auto;
    }

    &__row {
      margin: 0 auto;
      max-width: 700px;

      input {
        padding: 16px 240px 16px 30px;
      }
      button {
        &:hover {
          color: #4b4b4b;
        }
      }
    }
  }

  .footer {
    &__widgets {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  .widget {
    flex: 0 1 40%;
    &__socials {
      justify-content: flex-start;
    }
  }
}

//1024
@media only screen and (min-width: 1024px) {
  .header {
    &__container {
      margin: 0 auto;
      max-width: 1920px;
    }

    &__navigation {
      max-width: 1250px;
      margin: 0 auto;
    }
  }

  .services {
    &__row {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      p {
        max-width: 580px;
      }
    }
  }

  .card {
    &__body {
      &:hover {
        .card__title {
          background-position: right 10px center;
        }
        .card__img {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .video {
    &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 93px 0;
    }

    &__text {
      max-width: 535px;
      margin: 0 5px;
    }

    &__player {
      margin: 0;
      width: 565px;
    }
  }

  .testimonial {
    &__body {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
    }

    &__head {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__stars {
      text-align: left;
    }

    &__img {
      margin: 0 20px;
    }
  }

  .footer {
    &__widgets {
      justify-content: space-between;
    }

    &__copyright {
      min-height: 56px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__body {
      &--right {
        text-align: right;
      }
    }
  }
  .widget {
    flex-basis: auto;

    &__body {
      &--right {
        text-align: right;
      }
    }

    &__socials {
      justify-content: flex-end;
    }
  }
}
//1280
@media only screen and (min-width: 1280px) {
  .wrapper {
    background-color: #fff;
    max-width: $max-width-wrapper;
    margin: 0 auto;
  }

  .container,
  .container-large {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    max-width: $max-width-container;
  }

  .container-large {
    max-width: $max-width-container-large;
  }

  .header {
    &__input,
    &__lines {
      display: none;
    }

    &__navigation {
      max-width: 1250px;
      margin: 0 auto;
    }

    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 60px;
      font-size: 16px;
      li {
        margin-right: 28px;
        display: flex;
        align-items: center;
        border: none;
      }
      a {
        margin-right: 8px;

        &::before {
          content: '';
          position: absolute;
          bottom: 10px;
          width: 0%;
          height: 2px;
          background: #ffd401;
          transition: width 0.4s;
        }
        &:hover {
          &::before {
            content: '';
            position: absolute;
            bottom: 10px;
            width: 100%;
            height: 2px;
            background: #ffd401;
          }
        }
      }

      &--active {
        a {
          &::before {
            content: '';
            position: absolute;
            bottom: 10px;
            width: 40%;
            height: 2px;
            background: #ffd401;
          }
        }
      }

      &--have-menu {
        cursor: pointer;

        a {
          padding-right: 16px;
          margin-right: 8px;
          background-size: 8px;
          background-position: center right;
        }
      }
    }

    &__sub-menu {
      display: none;
      max-width: unset;
      padding: 10px 20px 0;
      position: absolute;
      top: 57px;
      border-radius: 5px;
      z-index: 120;

      li {
        margin: 0 0 10px 0;
      }

      a,
      a:hover {
        &::before,
        &::after {
          content: '';
          width: 0px;
          height: 0px;
        }
      }
      a {
        transition: 0.7s;
        &:hover {
          color: #ffd401;
        }
      }
    }

    &__all-menu {
      position: static;
      padding: 0;
      opacity: 1; /////////////
      width: auto; //////////////
      border-top: none;
      overflow-y: visible;
    }
  }
}
