.container {
  padding: 0 10px;
}

.container-large {
  padding-left: 10px;
  padding-right: 10px;
}

.telephone {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.btn {
  a,
  button {
    display: block;
    height: 44px;
    min-width: 206px;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #202020;
    background-color: #ffd401;
    border-radius: 22px;
    border: 2px solid #ffd401;
    cursor: pointer;
    transition: 0.7s;

    &:hover {
      background-color: rgba(#ffd401, 0.3);
      color: #fff;
    }
  }
}

.sliders {
  &__prev,
  &__next {
    background-color: transparent;
    width: 27px;
    height: 27px;
    align-self: center;
    margin-right: 24px;
    cursor: pointer;
  }

  &__next {
    margin-right: 0;
    margin-left: 24px;
    transform: rotate(180deg);
  }
}

////go top button

$background-active: rgba(#386641, 0.9);
$primary: rgba(#386641, 0.4);
$trans: 0.3s;

.go-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 3em;
  height: 3em;
  background-color: $primary;
  border-radius: 5px;
  transition: $trans;

  &:hover {
    background-color: $background-active;
  }

  a {
    font-size: 2em;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/icon/go-top.svg') no-repeat center center;
    opacity: 0.4;
    transition: $trans;

    &:hover {
      opacity: 0.8;
      background: url('../img/icon/go-top.svg') no-repeat center 46%;
    }
  }
}
