@import '../variables';

.qualyty {
  background-color: #dce4cc;

  &__body {
    position: relative;
    //display: flex;
    //justify-content: center;
    height: 150px;
    overflow: hidden;
  }
  &__ithem {
    margin: 0 17px;
    height: 150px;

    img {
      margin: 0 auto;
      height: 100%;
      object-fit: cover;
    }
  }
}
